.frame-container{
    padding: 36px 10%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    
}
.frame-detail{
    display: block;
    width: 45%;
    height: 300px;
    margin: 12px;
    font-size: 40px;
}


.card-icon{
    font-size: 80px;
    
}

.card-title{
    padding-left: 28px;
    font-weight: 800;
    
}

#t1{
    color: brown;
}

#t3{
   color: white; 
}

#t4{
    color: blueviolet;
}

@media (max-width: 750px) {
    .frame-container{
        flex-direction: column;
    }
    .frame-detail{
        width: 80%;
    }
  }
  